/node_modules

/public/hot
/public/storage

/public/js/*

!/public/js/tinymce/
/public/js/tinymce/*

!/public/js/tinymce/skins/
/public/js/tinymce/skins/*

!/public/js/tinymce/skins/content
/public/js/tinymce/skins/content/*

!/public/js/tinymce/skins/content/custom/

!/public/js/tinymce/skins/ui
/public/js/tinymce/skins/ui/*

!/public/js/tinymce/skins/ui/custom/
!/public/js/tinymce/skins/ui/custom/*


/public/css

/storage/*.key
/vendor

.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode
../dei-acolhimento_old

.DS_Store
